<?xml version='1.0' encoding='utf-8'?>

<Context>

    <WatchedResource>WEB-INF/web.xml</WatchedResource>
	<WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

    <!-- VARIABLES JNDI EQUIVALENTES A LAS EXISTENTES EN LOS ENTORNOS IBM WAS DEL IMI -->
    <ResourceLink auth="Container" global="ENTORN" name="ENTORN" type="java.lang.String"/>
    <ResourceLink auth="Container" global="SUBENTORN" name="SUBENTORN" type="java.lang.String"/>
    <ResourceLink auth="Container" global="servername" name="servername" type="java.lang.String"/>
    <ResourceLink auth="Container" global="PATH_FITXERS" name="PATH_FITXERS" type="java.lang.String"/>
    <ResourceLink auth="Container" global="PORT_HTTP_8080" name="PORT_HTTP_8080" type="java.lang.String"/>
    <ResourceLink auth="Container" global="PORT_HTTPS_8080" name="PORT_HTTPS_8080" type="java.lang.String"/>
    <ResourceLink auth="Container" global="PORT_HTTP_443" name="PORT_HTTP_443" type="java.lang.String"/>
    <ResourceLink auth="Container" global="PORT_HTTPS_443" name="PORT_HTTPS_443" type="java.lang.String"/>
    <ResourceLink auth="Container" global="BFILE_USER" name="BFILE_USER" type="java.lang.String"/>
    <ResourceLink auth="Container" global="BFILE_PASS" name="BFILE_PASS" type="java.lang.String"/>
    <!-- FIN DE VARIABLES JNDI EQUIVALENTES A LAS EXISTENTES EN LOS ENTORNOS IBM WAS DEL IMI -->
	
</Context>